html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        title Gorka Laucirica Ibarra
        meta(name='description', content='#{__("metaDescripcion")}')
        meta(name='viewport', content='width=device-width,initial-scale=1, maximum-scale=1')
        meta(name='google-site-verification', content="WxYFgZzlhjidU0eLKFFg1txmuBzejDshaTJ3T1v5m1g")
        link(rel='stylesheet', href='css/index.css')
        //if lt IE 9
            script(src="js/html5.js")
    body
        header
            h1 Gorka Laucirica Ibarra
            div#languages
                a(href="/es") es
                a(href="/eu") eu
                a(href="/en") en
            div#my-picture
            nav
                ul
                    li
                        a(href="#education")= __("Formación")
                    li
                        a(href="#projects")= __("Proyectos")
                    li
                        a(href="#experience")= __("Experiencia")
                    li
                        a(href="#skills")= __("Conocimientos")
        article
            div#education.odd
                h2= __("Formación")
                div.one-column
                    div.item-bg-deusto
                    p= __("INGENIERÍA EN INFORMÁTICA")
                    p 2011 - 2013
                div.one-column
                    div.item-bg-deusto
                    p= __("INGENIERÍA TÉCNICA EN INFORMÁTICA DE GESTIÓN")
                    p 2008 - 2011
                div.one-column
                    div.item-bg-eoibilbao
                    p= __("C1 EN INGLÉS")
                    p= __("Junio 2012")
                div.one-column
                    div.item-bg-ega
                    p= __("EUSKARAREN GAITASUN AGIRIA (C1)")
                    p= __("Junio 2007")

            div#projects.even
                h2= __("Proyectos")
                div.two-column
                    div.main-info
                        div.item-bg-alotofus
                        p Alotofus
                        p Oct 2013 - ?
                    div.details-info
                        p= __("(Desc)Alotofus")
                        div.technologies
                            i.icon-tech-html5
                            i.icon-tech-twig
                            i.icon-tech-php
                            i.icon-tech-symfony2
                            i.icon-tech-mysql
                            i.icon-tech-doctrine2
                            i.icon-tech-css3
                            i.icon-tech-sass
                            i.icon-tech-compass
                            i.icon-tech-js
                            i.icon-tech-coffeescript
                            i.icon-tech-jquery
                            i.icon-tech-backbonejs
                            i.icon-tech-git
                div.two-column
                    div.main-info
                        div.item-bg-personalpage
                        p= __("Página personal")
                        p 2013
                        a(href="https://bitbucket.org/gorkalauzirika/personalpage")
                            i.icon-link-bitbucket

                    div.details-info
                        p= __("(Desc)Página Personal")
                        div.technologies
                            i.icon-tech-nodejs
                            i.icon-tech-html5
                            i.icon-tech-jade
                            i.icon-tech-css3
                            i.icon-tech-sass
                            i.icon-tech-compass
                            i.icon-tech-js
                            i.icon-tech-coffeescript
                            i.icon-tech-grunt
                            i.icon-tech-git

                div.two-column
                    div.main-info
                        div.item-bg-hezten
                        p Hezten
                        p 2013
                        a(href="https://github.com/heztenproject")
                            i.icon-link-github
                    div.details-info
                        p= __("(Desc)Hezten")
                        div.technologies
                            i.icon-tech-php
                            i.icon-tech-symfony2
                            i.icon-tech-doctrine2
                            i.icon-tech-git

                div.two-column
                    div.main-info
                        div.item-bg-sanfidel
                            div.item-logo-sanfidel
                        p San Fidel Ikastola
                        p 2013
                    div.details-info
                        p= __("(Desc)San Fidel Ikastola")
                        div.technologies
                            i.icon-tech-html5
                            i.icon-tech-twig
                            i.icon-tech-php
                            i.icon-tech-symfony2
                            i.icon-tech-mysql
                            i.icon-tech-doctrine2
                            i.icon-tech-css3
                            i.icon-tech-sass
                            i.icon-tech-compass
                            i.icon-tech-js
                            i.icon-tech-coffeescript
                            i.icon-tech-jquery
                            i.icon-tech-backbonejs
                            i.icon-tech-git
                            i.icon-tech-sublimetext

                div.two-column
                    div.main-info
                        div.item-bg-nodequiz
                            div.item-logo-nodequiz
                        p nodeQuiz
                        p 2013
                        a(href="https://bitbucket.org/gorkalauzirika/nodequiz")
                            i.icon-link-bitbucket
                    div.details-info
                        p= __("(Desc)nodeQuiz")
                        div.technologies
                            i.icon-tech-nodejs
                            i.icon-tech-html5
                            i.icon-tech-css3
                            i.icon-tech-sass
                            i.icon-tech-compass
                            i.icon-tech-js
                            i.icon-tech-coffeescript
                            i.icon-tech-jquery
                            i.icon-tech-mongodb
                            i.icon-tech-grunt
                            i.icon-tech-git

                div.two-column
                    div.main-info
                        div.item-bg-fpzornotza
                            div.item-logo-nodequiz
                        p= __("IEFPS Zornotza")
                        p 2012
                    div.details-info
                        p= __("(Desc)fpzornotza")
                        div.technologies
                            i.icon-tech-html5
                            i.icon-tech-twig
                            i.icon-tech-php
                            i.icon-tech-symfony2
                            i.icon-tech-mysql
                            i.icon-tech-doctrine2
                            i.icon-tech-css3
                            i.icon-tech-js
                            i.icon-tech-jquery
                            i.icon-tech-git
                            i.icon-tech-eclipse
            div#experience.odd
                h2= __("Experiencia")
                div.two-column
                    div.main-info
                        div.item-bg-bosogroup
                        p BoSo Group S.L
                        p Oct 2013 - ?
                    div.details-info
                        p= __("(Desc)BoSoGroup")
                div.two-column
                    div.main-info
                        div.item-bg-mtc
                        p Maier Technology Center
                        p Jun 2012 - Sep 2012
                    div.details-info
                        p= __("(Desc)MTC")

            div#skills.even
                h2= __("Conocimientos")
                div.knowledge-items
                    div.knowledge-item
                        i.icon-tech-html5
                        p HTML5
                    div.knowledge-item
                        i.icon-tech-jade
                        p Jade
                    div.knowledge-item
                        i.icon-tech-twig
                        p Twig
                    div.knowledge-item
                        i.icon-tech-css3
                        p CSS3
                    div.knowledge-item
                        i.icon-tech-sass
                        p Sass
                    div.knowledge-item
                        i.icon-tech-compass
                        p Compass
                    div.knowledge-item
                        i.icon-tech-php
                        p PHP
                    div.knowledge-item
                        i.icon-tech-symfony2
                        p Symfony2
                    div.knowledge-item
                        i.icon-tech-nodejs
                        p NodeJS
                    div.knowledge-item
                        i.icon-tech-js
                        p Javascript
                    div.knowledge-item
                        i.icon-tech-coffeescript
                        p Coffeescript
                    div.knowledge-item
                        i.icon-tech-backbonejs
                        p BackboneJS
                    div.knowledge-item
                        i.icon-tech-jquery
                        p jQuery
                    div.knowledge-item
                        i.icon-tech-java
                        p Java
                    div.knowledge-item
                        i.icon-tech-vba
                        p VBA
                    div.knowledge-item
                        i.icon-tech-cpp
                        p C++
                    div.knowledge-item
                        i.icon-tech-qt
                        p Qt
                    div.knowledge-item
                        i.icon-tech-mysql
                        p MySQL
                    div.knowledge-item
                        i.icon-tech-doctrine2
                        p Doctrine2
                    div.knowledge-item
                        i.icon-tech-mongodb
                        p MongoDB
                    div.knowledge-item
                        i.icon-tech-sqlite
                        p SQLite
                    div.knowledge-item
                        i.icon-tech-sqlserver
                        p SQL Server
                    div.knowledge-item
                        i.icon-tech-plsql
                        p PL/SQL
                    div.knowledge-item
                        i.icon-tech-git
                        p Git
                    div.knowledge-item
                        i.icon-tech-subversion
                        p Subversion
                    div.knowledge-item
                        i.icon-tech-grunt
                        p Grunt
                    div.knowledge-item
                        i.icon-tech-photoshop
                        p Photoshop
                    div.knowledge-item
                        i.icon-tech-illustrator
                        p Illustrator
                    div.knowledge-item
                        i.icon-tech-coreldraw
                        p Corel Draw
                    div.knowledge-item
                        i.icon-tech-eclipse
                        p Eclipse
                    div.knowledge-item
                        i.icon-tech-sublimetext
                        p Sublime Text
                    div.knowledge-item
                        i.icon-tech-visualstudio
                        p Visual Studio
        footer
                a(href="https://www.linkedin.com/in/gorkalaucirica")
                    i.icon-tech-linkedin
                    p /in/gorkalaucirica
                a(href="https://github.com/gorkalaucirica")
                    i.icon-tech-github
                    p /gorkalaucirica
                a(href="http://bitbucket.org/gorkalauzirika")
                    i.icon-tech-bitbucket
                    p /gorkalauzirika
                a(href="mailto:gorka.lauzirika@gmail.com")
                    i.icon-tech-mail
                    p gorka.lauzirika@gmail.com
        script.
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-47066856-1', 'gorkalaucirica.net');
            ga('send', 'pageview');