@import "compass/reset";
@import "compass/css3";

$mainGreen: #5f6a3a;
$secondaryGreen: #dae4b3;

$nav-icons: sprite-map("sprites/*.png", $spacing: 2px, $layout: smart);

[class^="item-bg-"], [class*=" item-bg-"] 
{
  display: inline-block;
  width: 200px;
  height: 80px;
  line-height: 80px;
  background: $nav-icons no-repeat; 
}

[class^="icon-tech"], [class*=" icon-tech-"]
{
  display: inline-block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  background: $nav-icons no-repeat; 
}

[class^="icon-link"], [class*=" icon-link-"]
{
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  background: $nav-icons no-repeat; 
}

@each $sprite in bg-deusto, bg-hezten, bg-mtc, bg-nodequiz, bg-personalpage, bg-sanfidel, bg-eoibilbao, bg-ega, bg-fpzornotza, bg-alotofus, bg-bosogroup  {
	.item-#{$sprite} { 
		background-position: sprite-position($nav-icons, $sprite);
	}
}


@each $sprite in tech-linkedin, tech-github, tech-bitbucket, tech-mail, tech-symfony2, tech-php, tech-nodejs, tech-python, tech-mongodb, tech-html5, tech-jade, tech-css3 ,tech-sass, tech-compass, tech-js, tech-coffeescript, tech-jquery, tech-backbonejs, tech-grunt, tech-doctrine2, tech-twig, tech-java, tech-vba,tech-mysql, tech-sqlite, tech-sqlserver, tech-git, tech-subversion, tech-qt, tech-photoshop, tech-illustrator, tech-coreldraw, tech-eclipse, tech-sublimetext, tech-visualstudio, tech-plsql, tech-cpp {
      .icon-#{$sprite} { 
          background-position: sprite-position($nav-icons, $sprite);
          margin: 5px;
      }   
}
@each $sprite in link-bitbucket, link-github {
	.icon-#{$sprite} { 
		background-position: sprite-position($nav-icons, $sprite);
	}   
}

html
{
	background: $mainGreen;
}
body
{
	max-width: 960px;
	margin:auto;
	font-family: 'Source Sans Pro', sans-serif;
	font-size:14px;
	color: $mainGreen;
	box-shadow: 0px 0px 10px black;
}

header
{
	background-image: url("/images/headerbg.jpg");
	height: 200px;
	position: relative;
	h1
	{	
		padding: 0.5em;
		font-size: 2.6em;
		font-weight: bold;	
		float: left;	
	}
	div#languages a
	{
		color:$mainGreen;
		text-decoration: none;
		font-size: 18px;
		padding: 5px;
		line-height: 3.1em;
		font-weight: bold;
	}
	div#my-picture
	{	
		background-image: url("/images/my-picture.png");
		height: 200px;
		width: 235px;
		position: absolute;
		top: 0;
		right: 0;
	}
	div#social-icons
	{
		i
		{	
			margin: 10px;
			cursor: pointer;
		}
	}
	nav
	{
		ul
		{
			position: absolute;
			top: 160px;
			list-style: none;
			margin: 0;
			padding: 0;	
			padding-left: 0.5em;		
			font-size: 18px;
			line-height: 30px;
			li
			{
				padding: 5px 10px;
				margin: 0 5px;
				z-index: 10;
				text-align: center;
				display: inline-block;
				&:hover
				{
					background: rgba(white,0.5);
				}
				a
				{
					color: $mainGreen;
					text-decoration: none;
				}
			}
		}
	}
}

article
{
	div
	{
		overflow: hidden;
		text-align: center;
		&.odd
		{
			background: $secondaryGreen;
			
		}
		&.even
		{
			background: #bacd57;
		}
		h2
		{
			font-size: 2em;
			text-align:left;
			font-weight: bold;
			padding: 0.5em;
		}
		> div
		{
			display: inline-block;
			vertical-align: top;
			&.one-column
			{				
				width: 25%;
			}
			&.two-column
			{
				margin-top: 10px;
				padding-bottom: 10px;
				width: 100%;
				border-bottom: 1px dotted rgba(0,0,0,0.5);
				&:last-child
				{
					border-bottom: 0;
				}
				> div
				{
					float: left;
					width: 50%;
					&.details-info
					{
					 	p
					 	{
					 		text-align: justify;
					 		margin: 0 15px;
					 	} 
					}
				}
			}
			&.knowledge-items
			{
				width: 100%;
				> div.knowledge-item
				{
					padding: 0.5em 1em 0.5em 2em;;
					width: 20%;
					@include box-sizing(border-box);
					i
					{
						float:left;
						margin: 3px 5px 3px 10px;
					}
					p
					{
						line-height: 36px;
						color: #353a20; 
						margin: 0;
						font-weight: bold;
						@include border-radius(15px); 
						background: rgba(255, 255, 255, 0.2);
					}
				}
			}
			p
			{
				margin: 0.5em 0;
			}
		}
	}
}

footer
{
	color: white;
	a 
	{
		padding: 0.5em 1em;
		float: left;
		text-decoration: none;
		@include box-sizing(border-box);
		i
		{
			float: left;
		}
		p
		{
			line-height: 40px;
			color: #afb59d;
			float: left;

		}
	}
}

@media screen and (max-width:810px)
{
  header nav ul 
  {
  	font-size:15px;
  }
  article div > div.knowledge-items > div.knowledge-item
  {
  	width: 25%;
  }
  article div > div.one-column
  {
  	width: 50%;
  }
}

@media screen and (max-width:670px)
{ 
	header h1
	{
		text-align: center;
	}
	header div#my-picture 
	{
		background: none;
		display: none; 
	}
	article div > div.knowledge-items > div.knowledge-item
	{
		width: 33%;
	}
}

@media screen and (max-width:480px)
{ 
	header
	{
		background: #bacd57;
		height: 80px;
		h1
		{
			font-size: 1.8em;
			float: none;
		}
		div#languages
		{
			text-align: center;
			a
			{
				line-height: 1.8em;
			}
		}
		nav
		{
			display: none;
		}
	}
	article div > div.one-column
	{
		width: 100%;
	}
	article div > div.two-column > div 
	{
		width: 100%;

	}
	article div > div.knowledge-items > div.knowledge-item
	{
		width: 50%;		
		p
		{
			font-size: 12px;
		}
	}
}
